	<section id="call-to-action">
		<div class="container clearfix">
		
			<!-- Call to action -->
			<div class="sixteen columns">
				<h1>Pretty cool, right?</h1>
				<h2>Why don't you check out the rest.</h2>
				
				                <a button type="button" class="btn btn-warning"  href="about.html">Show me More</button></a>
			</div>
			<!-- Call to action -->
		
		
		</div><!-- END CONTAINER -->
	</section>
	
	
	<footer class="container clearfix">
		
		<!-- Navigation -->
		<div id="foot-nav" class="twelve columns">
			<ul>
				<li class="first"><a class="active" href="index.html">Home.</a></li>
				<li><a href="about.html">About.</a></li>
				<li><a href="portfolio-3-columns.html">Portfolio.</a></li>
				<li><a href="features.html">Features.</a></li>
				<li><a href="blog.html">Blog.</a></li>
				<li class="last"><a href="contact.html">Contact.</a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		
		<!-- Copyright -->
		<div id="copyright" class="four columns">
			<p>Theme by <a href="http://themeforest.net/user/aether_">Aether_</a></p>
			<p><a href="http://themeforest.net/user/aether_">Crisp</a> © copyright 2012</p>
		</div>
		<!-- End Copyright -->
	
	
	</footer><!-- END CONTAINER -->
