<div class="mainmanu-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- Main Menu area -->

                
        
            
                    		<nav id="nav" class="fourteen columns clearfix">
			
			
			<ul id="navigation">

                                                <li class="logo-image">
                    
                        <%= image_tag("logo .png") %>
                            
                    
                                                </li>
                            <li class="expand active"><a href="index">Home.</a></li>
                            <li class="expand"><a href="about">About.</a></li>
                            <li class="expand drop"><a href="service.html">Portfolio.</a>
                                                            <ul class="dropdown">
                                    <li><a href="practicestyle1.html">2 columns</a></li>
                                    <li><a href="practicestyle2.html">3 columns</a></li>
                                                                        <li><a href="practicestyle2.html">4 columns</a></li>
                                                                                                            <li><a href="practicestyle2.html">Single project</a></li>
                                </ul></li>
                            <li class="expand"><a href="home/price">Features.</a></li>
                        
                           
                            <li class="expand drop ">
                                <a href="blog.html"> Blog.</a>
                                <ul class="dropdown">
                                    <li><a href="single-item.html">Single Post</a></li>
                                    
                                </ul>
                            </li>
                            <li class="expand">
                                <a href="home/contact"> Contact.</a>
                            </li>

                        </ul>
                    </nav>
                </div>



        </div>
    </div>
</div>